# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
*.iml
*.lock

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Misc
*.log
*.tmp
.env
